{% extends "main/base.html" %}

{% block title %}Lista de Perguntas{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Lista de Forúns</h1>

    {% if questions %}
    <ul class="list-group">
        {% for question in questions %}
        <li class="list-group-item">
            <a href="{% url 'question' question.id %}">{{ question.title }}</a>
        </li>
        {% empty %}
        <li class="list-group-item">Nenhuma pergunta encontrada.</li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="alert alert-warning" role="alert">
        Nenhuma pergunta encontrada.
    </div>
    {% endif %}
</div>
{% endblock %}
