/* BASE.HTML */
body {
    background-color: #f5f5f5;
}

header {
    flex-shrink: 0; /* Garante que o header não encolha */
}

nav {
    flex: 1; /* Ocupa o espaço restante disponível */
    overflow: hidden; /* Evita rolagem dentro do nav */
}

.footnote {
    font-size: medium;
    color: white;
    text-align: center;
    padding: 10px;
}

.container-fluid {
    background-color: #f5f5f5 !important;
}

/* Ajustes gerais */
.bg-green {
    background: linear-gradient(to bottom, #006633, #006633, #04A356);
    padding: 15px;
    width: 230px;
}

/* Barra lateral fixa em telas grandes */
.custom-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: inherit;
}

/* Barra lateral */
#accordionSidebar {
    display: none; /* Inicialmente oculta em telas pequenas */
}

/* Ajustes para a largura da barra lateral em telas grandes */
@media (min-width: 1200px) {
    .bg-green {
        width: 230px;
    }
    #accordionSidebar {
        display: flex; /* Exibe a barra lateral em telas grandes */
    }
    #sidebarToggle {
        display: none; /* Esconde o botão de menu em telas grandes */
    }
}

/* Ajuste para o container principal */
.col-xl-9 {
    padding: 0; /* Remove o padding para evitar espaço extra */
    flex: 1; /* Garante que o conteúdo principal ocupe o espaço restante */
    display: flex;
    flex-direction: column;
    margin-left: 0; /* Garante que não há margem esquerda que cause deslocamento */
    overflow: hidden;
    height: 100vh;
}

/* Ajustes para a barra de pesquisa */
.search-bar {
    background-color: #C7D2DD;
    color: #003366;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    padding-right: 10px;
    border-radius: 20px;
    max-width: 700px;
    margin-left: 90px;
    flex-grow: 1; /* Faz a barra de pesquisa crescer para preencher o espaço disponível */
    position: relative;
}

.search-bar:focus {
    outline: none;
    box-shadow: none;
    background-color: #C7D2DD;
}

.search-bar::placeholder {
    color: #003366; 
    font-weight: bolder;
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Botão do menu para telas pequenas */
#sidebarToggle {
    margin-right: 15px;
    display: none; /* Inicialmente oculto */
}

/* Ajustes para botões */
.btn-login {
    background-color: #C7D2DD;
    color: #003366;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 15px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
}

.btn-login:hover {
    background-color: #a0b0c0;
    color: #003366;
}

.btn-login .username {
    padding-left: 30px;
}

.dropdown-menu {
    background-color: #C7D2DD;
    border-radius: 20px;
}

.dropdown-item {
    color: #003366;
    font-weight: bolder;
    border-radius: 20px;
    font-size: 1.1rem;
}

.dropdown-item:hover {
    background-color: #a0b0c0;
    color: #003366;
}

.btn-login img.profile-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.btn-home {
    background-image: linear-gradient(45deg, #003366, #0056a0) !important;
    color: #C7D2DD;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 1rem;
    transition: background-image 0.3s ease, transform 0.3s ease;
}

.btn-home:hover {
    background-image: linear-gradient(45deg, #003366, #0056a0) !important;
    transform: scale(1.05) !important;
    color: white !important;
}

.btn-home i {
    margin-right: 8px; 
    color: inherit;
}

.btn-menu {
    background-color: #006633;
    color: #C7D2DD;
    border: none;
    margin-left: 10px;
}

.btn-menu:hover {
    background-color: #004c26 !important;
    color: #C7D2DD;
}

/* Ajustes para telas menores que 1200px */
@media (max-width: 1199px) {
    .search-bar {
        margin-left: 0;
    }

    #accordionSidebar {
        display: none;
        position: fixed;
        width: 230px;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #006633;
        overflow-y: auto;
    }

    #accordionSidebar.show {
        display: flex;
    }

    #sidebarToggle {
        display: block; /* Mostra o botão do menu em telas menores */
    }

    #sidebarClose {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1100; /* Garante que o botão de fechar esteja acima do conteúdo da barra lateral */
    }

    footer {
        margin-top: auto; /* Empurra o rodapé para a parte inferior da barra lateral */
        padding: 10px;
        color: #ffffff;
    }
}

/* Ajustes para telas menores que 576px */
@media (max-width: 575.98px) {
    .btn-login {
        display: none;
    }

    .dropdown-toggle::after {
        display: none; /* Remove o ícone de seta padrão do dropdown */
    }

    .profile-photo {
        cursor: pointer;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .dropdown-menu {
        display: none; /* Oculta o dropdown inicialmente */
        position: absolute;
        top: 55px;
        right: 5px;
    }

    .dropdown-menu.show {
        display: block; /* Mostra o dropdown quando ativado */
    }
}

/* Ajustes para telas maiores que 576px */
@media (min-width: 576px) {
    .btn-login.d-none.d-sm-flex {
        display: flex !important; /* Mostra o botão com nome e ícone em telas maiores */
    }

    .btn-login.d-flex.d-sm-none {
        display: none !important; /* Esconde o botão com apenas ícone em telas maiores */
    }

    .btn-login span {
        display: inline; /* Garante que o nome de usuário seja exibido em telas maiores */
    }
}



/* FORUM_DETAIL.HTML */
button:focus, a:focus, .btn:focus {
    outline: none;
    box-shadow: none; /* Também remove qualquer sombra de caixa que possa aparecer */
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container-fluid {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    overflow-x: hidden;
}

.forum-header {
    position: sticky;
    top: 0;
    padding: 0px !important;
    margin-bottom: 0px;
    width: 100%; /* Certifica-se de que a linha ocupe toda a largura disponível */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f5f5f5 !important;
}

.forum-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #003366;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
    margin-right: 5px;
}

.forum-title i {
    font-size: 2.5rem;
    margin-left: 5px;
    color: #003366;
}

.follow-toggle {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.follow-toggle:focus {
    outline: none;
}

.questions-container {
    overflow-y: auto;
    padding-right: 10px;
    margin-bottom: 0px;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.question-item {
    padding: 0px 0px 5px 5px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word; /* Quebra palavras longas */
    overflow-wrap: break-word; /* Garante que o texto não transborde */
    background-color: #f5f5f5;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.question-item:hover {
    background-color: #C7D2DD;
}

.question-item a {
    text-decoration: none;
}

.profile-picture {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

.question-item .btn-info, .btn-like {
    background-color: #a0b0c0;
    border: none;
    color: #003366;
    padding: 4px 8px;
    border-radius: 20px;
    font-weight: bold;
    outline: none;
}

.question-item .btn-info:hover, .btn-like:hover {
    background-color: #C7D2DD;
    color: #003366;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.action-buttons-answer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.btn-like, .btn-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px; /* Espaçamento entre os botões */
    outline: none;
    font-size: 1.12rem;
}

.btn-like i, .btn-info i {
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
    color: inherit; /* Garante que a cor do ícone herde a cor do texto */
}

.question-title {
    font-size: 1.5rem;
    color: #003366;
    font-weight: bold;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; /* Adiciona "..." no final do texto que transborda */
}

.question-description, .answer-text {
    font-size: 1.25rem;
    color: #000000;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; 
}

a {
    display: block;
    max-width: 100%; /* Garante que o link não ultrapasse os limites do contêiner */
    overflow: hidden;
    text-decoration: none;
}

.question-separator, .answer-separator {
    border: 0;
    border-top: 1px solid #006633; /* Linha horizontal */
    border-bottom: 1px solid #006633;
    margin-top: 10px;
    margin-bottom: 20px;
}

.question-meta, .answer-meta {
    font-size: 0.9rem;
    color: #a0b0c0;
    margin-bottom: 5px;
}

.question-author, .answer-author {
    font-weight: bold;
    color: #003366;
    display: inline;
}

.question-date, .answer-date {
    color: #999999;
    display: inline;
    margin-right: 10px !important;
}

.forum-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #f5f5f5 !important;
    margin-top: 5px;
    margin-bottom: 20px;
} 

.btn-question {
    background-color: #003366;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1rem !important;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 0;
}

.btn-question:hover {
    background-color: #a0b0c0;
    color: #003366;
}

.dropdown-toggle:focus,/* Quando o botão estiver ativo */
.dropdown-toggle.show {
    background-color: #a0b0c0;
    color: #003366;
}

/* Ajustes para telas menores que 992px */
@media (max-width: 992px) {
    .forum-header {
        flex-direction: column;
        align-items: flex-start; /* Alinhar elementos à esquerda */
        padding-left: 0px;
    }

    .forum-title {
        font-size: 2rem;
        margin-bottom: 10px;
        text-align: left;
        width: 100%;
    }

    .forum-title i {
        font-size: 2rem;
    }

    .btn-question {
        padding: 8px 16px; /* Reduz o padding do botão */
        font-size: 0.9rem; /* Reduz o tamanho da fonte do botão */
    }

    .question-title {
        font-size: 1.25rem;
    }
    
    .question-description, .answer-text {
        font-size: 1.1rem;
        display: flex;
        flex-direction: column;
    }

    .response-form .btn-send , .response-form .btn-cancel{
        padding: 5px 10px;
        font-size: 0.95rem;
    }
}

/* Ajustes para telas menores que 576px */
@media (max-width: 576px) {
    .forum-header {
        flex-direction: column;
        align-items: flex-start; /* Alinhar elementos à esquerda */
        padding-left: 0px;
    }

    .forum-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
        text-align: left;
        width: 100%;
    }

    .forum-title i {
        font-size: 1.5rem;
    }

    .question-title {
        font-size: 1.1rem;
    }
    
    .question-description, .answer-text {
        font-size: 0.95rem;
    }

    .response-form .btn-send , .response-form .btn-cancel{
        padding: 3px 6px;
        font-size: 0.9rem;
    }
}




/* QUESTION_DETAIL.HTML */
html, body {
    height: 100%;
    overflow: auto; /* Permite rolagem se necessário */
    margin: 0;
    padding: 0;
}

.custom-container {
    max-width: 100%;
    margin: 0 auto;
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-wrap: break-word; /* Garante que o texto não transborde */
    word-wrap: break-word;
    word-break: break-word;
    overflow: auto;
}

.questions-item {
    padding: 0;
    display: flex;
    flex-direction: column;
    word-wrap: break-word; /* Quebra palavras longas */
    overflow-wrap: break-word; /* Garante que o texto não transborde */
    background-color: #f5f5f5;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.questions-item .btn-info, .btn-like {
    background-color: #a0b0c0;
    border: none;
    color: #003366;
    padding: 4px 8px;
    border-radius: 20px;
    font-weight: bold;
    outline: none;
}

.questions-item .btn-info:hover, .btn-like:hover {
    background-color: #C7D2DD;
    color: #003366;
}

.question-info {
    position: sticky;
    top: 0;
    background-color: #f5f5f5; 
    z-index: 100; 
    padding: 0px;
}

.response-area {
    margin-top: 5px;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
}

.response-area input {
    width: 100%;
    background-color: #a0b0c0 !important;
    color: #003366 !important;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}
    
.response-area input::placeholder {
    color: #003366; 
    font-weight: bolder;
}

.response-area input:focus {
    outline: none;
    box-shadow: none;
}

.response-form {
    margin-top: 10px;
    width: 100%;
}

.response-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: #C7D2DD;
    color: #003366;
    font-size: 1rem;
    resize: none;
}

.response-form textarea::placeholder {
    color: #003366;
}

.response-form textarea:focus {
    outline: none;
    box-shadow: none;
}

.response-form .btn {
    margin-top: 10px;
    margin-right: 5px;
}

.response-form .btn-send {
    background-color: #006633;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: large;
}

.response-form .btn-send:hover {
    background-color: #004c26;
    color: white;
}

.response-form .btn-cancel {
    background-color: #003366;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: large;
}

.response-form .btn-cancel:hover {
    background-color: #012141;
    color: white;
}

.return-container {
    display: flex;
    justify-content: flex-start;
}

.btn-return {
    background-color: #006633;
    color: #C7D2DD;
    border: none;
    padding-top: 6px;
    border-radius: 20px;
    font-size: 0.9rem;
    text-decoration: none;
}

.btn-return:hover {
    background-color: #004c26;
    color: #C7D2DD;
}

.answer-list {
    margin-top: 5px;
    max-height: 100%;
    background-color: #f5f5f5 !important;
    padding: 1rem;
    border-radius: 8px;
}

.answer-item {
    padding: 0;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: #f5f5f5;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.answer-item a {
    text-decoration: none;
}

.answer-item .btn-info, .btn-like {
    background-color: #a0b0c0;
    border: none;
    color: #003366;
    padding: 4px 8px;
    border-radius: 20px;
    font-weight: bold;
    outline: none;
}

.answer-item .btn-info:hover, .btn-like:hover {
    background-color: #C7D2DD;
    color: #003366;
}

.action-buttons-answer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.answer-meta {
    font-size: 0.9rem;
    color: #a0b0c0;
    margin-bottom: 5px;
}

/* Estilos adicionais para o Cropper.js */
.img-container {
    max-width: 100%;
}

.img-preview {
    overflow: hidden;
    margin: 10px;
    border: 1px solid #ccc;
}

.preformatted-text {
    white-space: pre-wrap; /* Preserva a formatação original e as quebras de linha */
    word-wrap: break-word;
}

/* Estilos para o spinner */
#loading-spinner {
    display: none;
    text-align: center;
    padding: 10px;
}

#reportModal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw; 
    max-width: 400px;
    height: 60vh;
    max-height: 400px;
    border-radius: 20px;
}

#reportModal .modal-content {
    position: relative;
    padding: 20px;
}

#reportModal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

#reportModal .close:hover,
#reportModal .close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    margin-bottom: 15px;
}

.modal-body {
    margin-bottom: 15px;
}

.modal-footer {
    text-align: right;
}

.btn_denuncia{
    background-color:#ff0000;
    color: #ffffff;
    font-weight: bold;
    border: none;
    padding: 3px 8px;
    border-radius: 20px;
}

.btn_denuncia:hover{
    background-color: #9a0303;
    color: #ffffff;
}

.modal-content{
    background-color: #003366;
    color: #ffffff;
    border-radius: 20px;
}

.btn-alert {
    background-color: #a0b0c0;
    border: none;
    color: #003366;
    padding: 6px 12px;
    border-radius: 20px;
}

.btn-alert:hover {
    background-color: #C7D2DD;
    color: #003366;
}

textarea.form-control {
    border-radius: 20px;
    border-color: #ced4da;
    padding: 10px;
    font-size: 14px;
    background-color: #a0b0c0 ;
}

textarea.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

@media (max-width: 767px) {
    .form-check{
        font-size: small;
    } 
}



/* INDEX.HTML */
.home-container {
    max-width: 100%;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-wrap: break-word; /* Garante que o texto não transborde */
    word-wrap: break-word;
    word-break: break-word;
    overflow: auto;
    background-color: #f5f5f5 !important;
}

.home-head {
    font-weight: bold;
    color: #003366;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
}

.home-meta {
    font-size: 0.9rem;
    color: #a0b0c0;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.forum-label {
    background-color: #006633;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    white-space: nowrap; /* Evita que o texto quebre em múltiplas linhas */
    max-width: fit-content;
    margin-left: auto;
    margin-right: 0px !important;
    display: inline-block;
    text-decoration: none;
}

.forum-label:hover {
    color: #ffffff;
    background-color: #004c26;
}

.label-full, .label-short {
    display: none;
}

@media (min-width: 769px) {
    .label-full {
        display: inline; /* Mostra o nome completo em telas grandes */
    }
}

@media (max-width: 768px) {
    .label-short {
        display: inline; /* Mostra a primeira palavra em telas pequenas */
    }
}

@media (max-width: 400px) {
    .home-meta {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .question-author,
    .question-date {
        margin-right: 0;
    }

    .forum-label {
        margin-top: 5px; 
        margin-left: 0;
        width: auto;
        text-align: left;
    }
}



/* FORUNS.HTML */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.foruns {
    background-color: #003366;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 8px;
}

.forum-header {
    background-color: #f5f5f5;
    padding: 10px;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    width: 100%;
}

.titulo{
    color: #003366;
}

.scroll-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    padding-top: 0px !important;
}




/* QUESTION.HTML */
.full-height {
    height: 100vh; /* Altura total da viewport */
    display: flex;
}

.questions-list, .answers-list {
    font-weight: bolder;
    border-radius: 8px;
}

.list-group-item {
    margin-bottom: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.scroll-container {
    flex-grow: 1;
    height: 400px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
}

.scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.list-header {
    position: sticky;
    top: 0;
    z-index: 100;
    color: #003366;
    font-weight: bold;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .scroll-container {
        flex-grow: 1;
        height: 170px;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer and Edge */
    }
    
    .questions-list, .answers-list {
        width: 100%;
    }

    .list-header {
        position: sticky;
        top: 0;
        z-index: 100; /* Mantém o cabeçalho sobre os conteúdos em scroll */
        color: #003366;
        font-weight: bold;
        font-size: 1.5rem;
    }
}

.custom-list-group-item {
    background-color: #003366; 
}

.custom-list-group-item:hover {
    background-color: #012141;
}

.custom-list-group-item a {
    color: white; 
}

.btn-excluir{
    background-color:#c61919;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
}

.btn-excluir:hover{
    background-color: #ff0101;
}

.btn-cancel {
    background-color: #C7D2DD;
    color: #003366;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
}

.btn-cancel:hover {
    background-color: #a0b0c0;
}

.confirm-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.confirm-popup-content {
    text-align: center;
    color: #003366;
}

.hidden {
    display: none;
}

.confirm-popup button {
    margin: 5px;
}

.alerta{
    color: white;
    background-color: #003366;
    border-radius: 20px;
}