{% extends "main/base.html" %}

{% block content %}
<div class="container-fluid mt-5 ms-0">
    <div class="d-flex justify-content-between align-items-center forum-header">
        <h1 class="forum-title">{{ forum.title }}</h1>
        <a class="btn btn-question" href="{% url 'new_question' forum.id %}">Criar Pergunta</a>
    </div>

    <div class="questions-container">
        {% if questions %}
            {% for question in questions %}
                <div class="question-item">
                    <a href="{% url 'question_detail' question.id %}">
                        <h5 class="question-title">{{ question.title }}</h5>
                        <p class="question-description">{{ question.description }}</p>
                    </a>
                    <a href="{% url 'question_detail' question.id %}" class="btn btn-info mt-2 question-comments">
                        <i class="bi bi-chat-left-text"></i> {{ question.answers.count }}
                    </a>
                </div>
                <hr class="question-separator">
            {% endfor %}
        {% else %}
            <p>Nenhuma pergunta encontrada neste fórum.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
