{% extends "main/base.html" %}

{% block content %}
<style>
    .custom-container {
        max-width: 800px; /* Defina o máximo desejado */
        margin: 0 auto; /* Centraliza horizontalmente */
        padding: 20px; /* Ajusta o preenchimento interno conforme necessário */
        height: 50vh; /* Altura total da viewport */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        left: 50px;
    }

    .forum-card {
        margin-bottom: 20px;
        width: 100%;
        padding: 20px;
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 8px;
    }

    .forum-card h5 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .forum-card p {
        font-size: 1rem;
    }
</style>

<div class="custom-container mt-5 ms-0">
    <h2>Lista de Fóruns</h2>
    <hr>
    {% for forum in forums %}
        <div class="forum-card">
            <h5><a href="{% url 'forum_detail' forum.id %}">{{ forum.title }}</a></h5>
            <p>{{ forum.description }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}