{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-5 ms-0">
    <div class="d-flex justify-content-between align-items-center forum-header">
        <h1 class="forum-title flex-grow-1">
            {{ forum.title }}
            {% if user.is_authenticated %}
            <button id="follow-toggle" class="follow-toggle" data-forum-id="{{ forum.id }}">
                {% if is_following %}
                <i class="bi bi-star-fill"></i>
                {% else %}
                <i class="bi bi-star"></i>
                {% endif %}
            </button>
            {% endif %}
        </h1>
    </div>
    <div class="d-flex forum-buttons">
        <div class="dropdown me-3">
            <button class="btn btn-question dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Filtrar
            </button>
            <ul class="dropdown-menu mt-1" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="{% url 'main:forum_detail' forum.id %}?order_by=date">Mais
                        Recentes</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'main:forum_detail' forum.id %}?order_by=oldest">Menos
                        Recentes</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'main:forum_detail' forum.id %}?order_by=most_upvoted">Mais
                        Votadas</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'main:forum_detail' forum.id %}?order_by=least_upvoted">Menos
                        Votadas</a></li>
            </ul>
        </div>
        <a class="btn btn-question" href="{% url 'main:new_question' forum.id %}">Perguntar</a>
    </div>

    {% load custom_filters %}

    <div class="questions-container">
        {% if questions %}
        {% for question in questions %}
        <div class="question-item">
            <div class="question-meta">
                {% load static %}
                <img class="profile-picture"
                    src="{% if question.is_anonymous or not question.author.photo %}{% static 'forunb/img/default.jpg' %}{% else %}{{ question.author.photo.url }}{% endif %}"
                    alt="{% if question.is_anonymous %}Imagem de perfil anônima{% else %}Foto de perfil do autor{% endif %}">
                <span class="question-author">
                    {% if question.is_anonymous %}
                    Anônimo
                    {% else %}
                    {{ question.author.username }}
                    {% endif %}
                </span> •
                <span class="question-date">há {{ question.created_at|custom_timesince }}</span>
            </div>
            <a href="{% url 'main:question_detail' question.id %}">
                <h5 class="question-title">{{ question.title }}</h5>
                <p class="question-description preformatted-text">{{ question.description }}</p>
            </a>
            {% if question.image %}
            <img src="{{ question.image.url }}" alt="Descrição da imagem relacionada à pergunta"
                class="img-question mt-3">
            {% endif %}
            <div class="action-buttons">
                <button class="btn btn-like" data-id="{{ question.id }}" data-type="question"
                    onclick="toggleUpvote(this);">
                    <i class="bi {% if user in question.upvoters.all %}bi-heart-fill{% else %}bi-heart{% endif %}"></i>
                    <span>{{ question.upvote_count }}</span>
                </button>
                <a href="{% url 'main:question_detail' question.id %}" class="btn btn-info">
                    <i class="bi bi-chat-left-text"></i> {{ question.answers.count }}
                </a>
            </div>
        </div>
        <hr class="question-separator">
        {% endfor %}
        {% else %}
        <p>Nenhuma pergunta encontrada neste fórum.</p>
        {% endif %}
    </div>
</div>

<script>
    function toggleLike(element) {
        var icon = element.querySelector('i');
        if (icon.classList.contains('bi-heart')) {
            icon.classList.remove('bi-heart');
            icon.classList.add('bi-heart-fill');
        } else {
            icon.classList.remove('bi-heart-fill');
            icon.classList.add('bi-heart');
        }
    }
</script>

<script>
    document.getElementById('follow-toggle').addEventListener('click', function () {
        var button = this;
        var icon = button.querySelector('i');
        var forumId = button.getAttribute('data-forum-id');
        var action = icon.classList.contains('bi-star') ? 'follow' : 'unfollow';

        fetch(`/follow-forum/${forumId}/${action}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ action: action })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    if (action === 'follow') {
                        icon.classList.remove('bi-star');
                        icon.classList.add('bi-star-fill');
                    } else {
                        icon.classList.remove('bi-star-fill');
                        icon.classList.add('bi-star');
                    }
                }
            });
    });

    function toggleUpvote(element) {
        const questionId = element.getAttribute('data-id');
        const type = element.getAttribute('data-type');
        const url = type === 'question' ? `/toggle-upvote-question/${questionId}/` : `/toggle-upvote-answer/${questionId}/`;

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json',
            },
        })
            .then(response => response.json())
            .then(data => {
                const icon = element.querySelector('i');
                if (icon.classList.contains('bi-heart')) {
                    icon.classList.remove('bi-heart');
                    icon.classList.add('bi-heart-fill');
                } else {
                    icon.classList.remove('bi-heart-fill');
                    icon.classList.add('bi-heart');
                }
                element.querySelector('span').innerText = data.upvotes;
            });
    }
</script>
{% endblock %}