{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-5 ms-0">
    <div class="forum-header">
        <h2 class="home-head">Fóruns</h2>
    </div>

{% if query %}
    <h2 class="titulo fw-bold p-4">Resultados da pesquisa para "{{ query }}"</h2>
{% endif %}


    <div class="scroll-container p-3 rounded mt-4">
        {% for forum in forums %}
            <div class="list-group col-xxl-12">
                <a class="foruns list-group-item list-group-item-action" href="{% url 'main:forum_detail' forum.id %}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="fw-bold mb-1">{{ forum.title }}</h5>
                    </div>
                    <p class="mb-1">{{ forum.description }}</p>
                </a>
                <br>
            </div>
        {% empty %}
            <p>Nenhum fórum encontrado.</p>
        {% endfor %}
    </div>

{% endblock %}