{% extends "main/base.html" %}

{% block content %}
<style>
    .custom-container {
        max-width: 800px; /* Defina o máximo desejado */
        margin: 0 auto; /* Centraliza horizontalmente */
        padding: 20px; /* Ajusta o preenchimento interno conforme necessário */
        height: 60vh; /* Altura total da viewport */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        left: 50px;
    }
</style>

<div class="custom-container mt-5 ms-0">
    <h3>Adicione uma nova pergunta:</h3>
    <form action="{% url 'new_question' %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3 bt-color">Pergunte</button>
    </form>
</div>
{% endblock %}
