<!-- notifications.html -->
{% extends 'base.html' %}

{% block content %}
<style>
    .notificacao{
        color: #003366;
    }

    .list-group-item-notificacao{
        background-color: #ffffff;
        color: #003366;
    }

    .list-group-item{
        background-color:  #C7D2DD;
        color: #003366;
        width: 50vw;
        border-radius: 10px;
    }

    .list-group-item:hover{
        background-color: #a0b0c0;
    }

    @media (max-width: 575.98px) {
        .list-group-item{
        width: 85vw;
    } 
    }
</style>

<h2 class="notificacao p-4 fw-bold">Notificações</h2>
<div class="scroll-container p-4 rounded">
    <ul class="list-group list-group-flush fw-bold mt-4">
        {% for notification in notifications %}
        <li class="list-group-item ">
            <strong>{% if notification.answer.is_anonymous %}
                Anônimo
            {% else %}
                {{ notification.answer.author.username }} 
            {% endif %}
            </strong> respondeu à sua pergunta "
            <a href="{% url 'main:question_detail' notification.question.id %}"><strong>{{ notification.question.title }}</strong></a>"
            <br>
            <small class="text-muted">{{ notification.created_at }}</small>
        </li>
        <hr>   
        {% empty %}
        <h4 class="text-center notificacao fw-bold mt-4">Você não tem notificações</h4>
        {% endfor %}
    </ul>
</div>
{% endblock %}
