{% extends "main/base.html" %}

{% block content %}

{% load custom_filters %}
<div class="custom-container mt-5 ms-0">
    <div class="question-item">
        <div class="question-info">
            <div class="return-container">
                <a href="{% url 'forum_detail' question.forum.id %}" class="btn btn-return mb-3"><i class="bi bi-arrow-return-left"></i></a>
            </div>
            <div class="question-meta">
                <span class="question-author">{{ question.author.username }}</span> • 
                <span class="question-date">há {{ question.created_at|custom_timesince }}</span>
            </div>
            <h5 class="question-title">{{ question.title }}</h5>
            <p class="question-description">{{ question.description }}</p>
            <div class="action-buttons">
                <button class="btn btn-like" onclick="toggleLike(this);">
                    <i class="bi bi-heart"></i>
                </button>
                <a href="{% url 'question_detail' question.id %}" class="btn btn-info">
                    <i class="bi bi-chat-left-text"></i> {{ question.answers.count }}
                </a>
            </div>   
            <div class="response-area">
                <input type="text" class="form-control" placeholder="Adicionar uma resposta" onclick="showResponseForm()" readonly>
                <div class="response-form d-none">
                    <form method="post" action="{% url 'new_answer' question.id %}">
                        {% csrf_token %}
                        <textarea name="text" class="form-control mt-2" placeholder="Escreva sua resposta..."></textarea>
                        <div class="mt-1">
                            <button type="button" class="btn btn-cancel" onclick="cancelResponse()">Cancelar</button>
                            <button type="submit" class="btn btn-send">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if answers %}
        {% for answer in answers %}
            <div class="answer-item">
                <div class="answer-info">
                    <div class="answer-meta">
                        <span class="answer-author">{{ answer.author.username }}</span> • 
                        <span class="answer-date">há {{ answer.created_at|custom_timesince }}</span>
                    </div>
                    <p class="answer-text">{{ answer.text }}</p>
                    <div class="action-buttons-answer">
                        <button class="btn btn-like" onclick="toggleLike(this);">
                            <i class="bi bi-heart"></i>
                        </button>
                        <a href="{% url 'question_detail' question.id %}" class="btn btn-info">
                            <i class="bi bi-chat-left-text"></i> {{ answer.answers.count }}
                        </a>
                    </div>   
                </div>
                <hr class="answer-separator">
        {% empty %}
            <p>Nenhuma resposta encontrada para esta pergunta.</p>
        {% endfor %}
    {% else %}
        <p>Nenhuma resposta encontrada para esta pergunta.</p>
    {% endif %}
</div>

<script>
    function showResponseForm() {
        var responseInput = document.querySelector('.response-area input');
        var responseForm = document.querySelector('.response-form');
        var textarea = responseForm.querySelector('textarea');

        if (responseInput && responseForm && textarea) {
            responseInput.classList.add('d-none');
            responseForm.classList.remove('d-none');
            textarea.focus(); // Coloca o foco no campo de texto
        } else {
            console.error('Elementos não encontrados.');
        }
    }

    function cancelResponse() {
        var responseInput = document.querySelector('.response-area input');
        var responseForm = document.querySelector('.response-form');
        
        if (responseInput && responseForm) {
            responseInput.classList.remove('d-none');
            responseForm.classList.add('d-none');
        } else {
            console.error('Elementos não encontrados.');
        }
    }

    function toggleLike(element) {
        var icon = element.querySelector('i');
        if (icon.classList.contains('bi-heart')) {
            icon.classList.remove('bi-heart');
            icon.classList.add('bi-heart-fill');
        } else {
            icon.classList.remove('bi-heart-fill');
            icon.classList.add('bi-heart');
        }
    }
</script>


{% endblock %}