{% extends "main/base.html" %}

{% block content %}

<style>
    .custom-container {
        max-width: 800px; /* Defina o máximo desejado */
        margin: 0 auto; /* Centraliza horizontalmente */
        padding: 20px; /* Ajusta o preenchimento interno conforme necessário */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .forum-card {
        margin-bottom: 20px;
        width: 100%;
        padding: 20px;
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 8px;
    }

    .forum-card h5 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .forum-card p {
        font-size: 1rem;
    }

    .question-card {
        margin-bottom: 20px;
        padding: 15px;
        background-color: #ffffff;
        border: 1px solid #ced4da;
        border-radius: 8px;
    }

    .question-card h5 {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    .question-card p {
        font-size: 1rem;
        color: #6c757d;
    }

    .fixed-question-card {
        position: sticky;
        top: 100px;
        z-index: 1000;
        padding: 15px;
        margin-bottom: 20px;
    }
</style>

<div class="custom-container mt-5 ms-0">
    <div class="card fixed-question-card">
        <div class="card-body">
            <h5 class="card-title">{{ question.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ question.created_at|date:'M d, Y H:i' }}</h6>
            <p class="card-text">{{ question.description }}</p>
            <a href="{% url 'new_answer' question.id %}" class="btn btn-primary">Responder</a>
        </div>
    </div>

    <hr>

    <h3>Respostas:</h3>
    {% if answers %}
        {% for answer in answers %}
            <div class="answer-card">
                <h5>Por {{ answer.author.username }} em {{ answer.created_at }}</h5>
                <p>{{ answer.text }}</p>
                <hr>
            </div>
        {% empty %}
            <p>Nenhuma resposta encontrada para esta pergunta.</p>
        {% endfor %}
    {% else %}
        <p>Nenhuma resposta encontrada para esta pergunta.</p>
    {% endif %}
</div>

{% endblock %}