{% extends "base.html" %}

{% block content %}
<style>
    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .container {
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
        /* Garante que a rolagem funcione quando necessário */
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
</style>

<div class="container">
    <h2>Sobre</h2>
    <p>
        O forUnB é uma plataforma de fórum inspirada no conceito do Stack Overflow, criada para fomentar a colaboração e
        a troca de conhecimento entre <strong>alunos</strong> da Universidade de
        Brasília.
        Nosso objetivo é construir uma comunidade unida, onde os estudantes possam compartilhar dúvidas, obter respostas
        e
        colaborar em diversas disciplinas.
    </p>

    <h2>Como utilizar?</h2>
    <p>
        Dentro da plataforma, os usuários logados podem criar perguntas e respostas em fóruns específicos que já
        disponibilizamos de toda a FGA, facilitando a comunicação
        entre
        alunos. Além disso, contamos com um sistema de avaliação que destaca as melhores respostas,
        garantindo
        que o conteúdo mais útil e relevante seja facilmente acessível a todos.
    </p>

    <h2>Equipe</h2>

    <div style="display: flex; flex-direction: column; align-items: center; gap: 25px;">
        <div style="display: flex; align-items: end; justify-content: center; gap: 50px;">
            <div style="text-align: center;">
                Alexandre Junior
                <br />
                <a href="https://github.com/AlexandreLJr" target="_blank">
                    <img src="https://github.com/AlexandreLJr.png" alt="Foto Alexandre" width="130px" height="auto"
                        style="border-radius:50%" />
                </a>
            </div>
            <div style="text-align: center;">
                Bruno Bragança
                <br />
                <a href="https://github.com/BrunoBReis" target="_blank">
                    <img src="https://github.com/BrunoBReis.png" alt="Foto Bruno" width="130px" height="auto"
                        style="border-radius:50%" />
                </a>
            </div>
            <div style="text-align: center;">
                Davi Klein
                <br />
                <a href="https://github.com/davi-Klevy" target="_blank">
                    <img src="https://github.com/davi-Klevy.png" alt="Foto Davi" width="130px" height="auto"
                        style="border-radius:50%" />
                </a>
            </div>
        </div>
        <div style="display: flex; align-items: end; justify-content: center; gap: 50px;">
            <div style="text-align: center;">
                Manoela Garcia
                <br />
                <a href="https://github.com/manu-sgc" target="_blank">
                    <img src="https://github.com/manu-sgc.png" alt="Foto Manoela" width="130px" height="auto"
                        style="border-radius:50%" />
                </a>
            </div>
            <div style="text-align: center;">
                Pedro Lopes
                <br />
                <a href="https://github.com/pLopess" target="_blank">
                    <img src="https://github.com/pLopess.png" alt="Foto Pedro" width="130px" height="auto"
                        style="border-radius:50%" />
                </a>
            </div>
            <div style="text-align: center;">
                Victor Hugo Bernardes
                <br />
                <a href="https://github.com/VHbernardes" target="_blank">
                    <img src="https://github.com/VHbernardes.png" alt="Foto Victor" width="130px" height="auto"
                        style="border-radius:50%" />
                </a>
            </div>
        </div>
    </div>


    <script>
        function scrollToBottom() {
            window.scrollTo({
                top: document.body.scrollHeight,
                behavior: 'smooth' // Rola suavemente até o final da página
            });
        }

        window.onload = function () {
            scrollToBottom();
        };
    </script>
    {% endblock %}